<div id="<%= dom_id target %>">
  <p>
    <strong>Week:</strong>
    <%= target.week_id %>
  </p>

  <p>
    <strong>Klass name:</strong>
    <%= target.klass_name %>
  </p>

  <p>
    <strong>Klass attribute:</strong>
    <%= target.klass_attribute %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= target.target %>
  </p>

</div>
