<div id="<%= dom_id operations_and_compliance %>">
  <p>
    <strong>Week:</strong>
    <%= operations_and_compliance.week_id %>
  </p>

  <p>
    <strong>Essential fs and legal:</strong>
    <%= operations_and_compliance.essential_fs_and_legal %>
  </p>

  <p>
    <strong>Retail ops:</strong>
    <%= operations_and_compliance.retail_ops %>
  </p>

  <p>
    <strong>Health and safety:</strong>
    <%= operations_and_compliance.health_and_safety %>
  </p>

  <p>
    <strong>Uber rating:</strong>
    <%= operations_and_compliance.uber_rating %>
  </p>

  <p>
    <strong>Just eat:</strong>
    <%= operations_and_compliance.just_eat %>
  </p>

  <p>
    <strong>Eho:</strong>
    <%= operations_and_compliance.eho %>
  </p>

</div>
