<div id="<%= dom_id sales_and_finance %>">
  <p>
    <strong>Week:</strong>
    <%= sales_and_finance.week_id %>
  </p>

  <p>
    <strong>Lfl:</strong>
    <%= sales_and_finance.lfl %>
  </p>

  <p>
    <strong>Total weekly turnover:</strong>
    <%= sales_and_finance.total_weekly_turnover %>
  </p>

  <p>
    <strong>Delivery turnover:</strong>
    <%= sales_and_finance.delivery_turnover %>
  </p>

  <p>
    <strong>Turnover:</strong>
    <%= sales_and_finance.turnover %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= sales_and_finance.budget %>
  </p>

  <p>
    <strong>Footfall:</strong>
    <%= sales_and_finance.footfall %>
  </p>

  <p>
    <strong>Average spend:</strong>
    <%= sales_and_finance.average_spend %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= sales_and_finance.comments %>
  </p>

  <p>
    <strong>Hours last year:</strong>
    <%= sales_and_finance.hours_last_year %>
  </p>

  <p>
    <strong>Hours this year:</strong>
    <%= sales_and_finance.hours_this_year %>
  </p>

  <p>
    <strong>Spmh:</strong>
    <%= sales_and_finance.spmh %>
  </p>

  <p>
    <strong>Returns:</strong>
    <%= sales_and_finance.returns %>
  </p>

  <p>
    <strong>Stock balance:</strong>
    <%= sales_and_finance.stock_balance %>
  </p>

</div>
