<div id="<%= dom_id person %>">
  <p>
    <strong>Week:</strong>
    <%= person.week_id %>
  </p>

  <p>
    <strong>Leavers:</strong>
    <%= person.leavers %>
  </p>

  <p>
    <strong>Number of staff:</strong>
    <%= person.number_of_staff %>
  </p>

  <p>
    <strong>Staffing level:</strong>
    <%= person.staffing_level %>
  </p>

  <p>
    <strong>E learning:</strong>
    <%= person.e_learning %>
  </p>

</div>
